exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
useDynLib(imp4p)
importFrom(Iso,pava)
importFrom(truncnorm,rtruncnorm)
importFrom(stats,lm.fit,ecdf,coefficients,quantile,runif,pnorm,dbeta,sd,rnorm,optim,qnorm,cor,lm,density, median)
importFrom(stats, binomial, glm, rbinom, smooth.spline)
importFrom(graphics,hist)
importFrom(imputeLCMD,impute.wrapper.MLE)
